<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dingdang.DingdangDrugstore.mbg.mapper.ProductDetailMapper">
  <resultMap id="BaseResultMap" type="com.dingdang.DingdangDrugstore.mbg.model.ProductDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="product_id" jdbcType="BIGINT" property="productId" />
    <result column="product_sn" jdbcType="VARCHAR" property="productSn" />
    <result column="common_name" jdbcType="VARCHAR" property="commonName" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="ingredients" jdbcType="VARCHAR" property="ingredients" />
    <result column="taboo" jdbcType="VARCHAR" property="taboo" />
    <result column="indication" jdbcType="VARCHAR" property="indication" />
    <result column="dosage" jdbcType="VARCHAR" property="dosage" />
    <result column="properties" jdbcType="VARCHAR" property="properties" />
    <result column="packing_specification" jdbcType="VARCHAR" property="packingSpecification" />
    <result column="adverse_reations" jdbcType="VARCHAR" property="adverseReations" />
    <result column="storage_condition" jdbcType="VARCHAR" property="storageCondition" />
    <result column="vaild_period" jdbcType="VARCHAR" property="vaildPeriod" />
    <result column="percautions" jdbcType="VARCHAR" property="percautions" />
    <result column="pregnant_reminder" jdbcType="VARCHAR" property="pregnantReminder" />
    <result column="young_reminder" jdbcType="VARCHAR" property="youngReminder" />
    <result column="old_reminder" jdbcType="VARCHAR" property="oldReminder" />
    <result column="interaction" jdbcType="VARCHAR" property="interaction" />
    <result column="approval_number" jdbcType="VARCHAR" property="approvalNumber" />
    <result column="manufacturer" jdbcType="VARCHAR" property="manufacturer" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, product_id, product_sn, common_name, product_name, ingredients, taboo, indication, 
    dosage, properties, packing_specification, adverse_reations, storage_condition, vaild_period, 
    percautions, pregnant_reminder, young_reminder, old_reminder, interaction, approval_number, 
    manufacturer
  </sql>
  <select id="selectByExample" parameterType="com.dingdang.DingdangDrugstore.mbg.model.ProductDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from product_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product_detail
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectByProductId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from product_detail
    where product_id = #{productId}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from product_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.dingdang.DingdangDrugstore.mbg.model.ProductDetailExample">
    delete from product_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dingdang.DingdangDrugstore.mbg.model.ProductDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into product_detail (product_id, product_sn, common_name, 
      product_name, ingredients, taboo, 
      indication, dosage, properties, 
      packing_specification, adverse_reations, 
      storage_condition, vaild_period, percautions, 
      pregnant_reminder, young_reminder, old_reminder, 
      interaction, approval_number, manufacturer
      )
    values (#{productId,jdbcType=BIGINT}, #{productSn,jdbcType=VARCHAR}, #{commonName,jdbcType=VARCHAR}, 
      #{productName,jdbcType=VARCHAR}, #{ingredients,jdbcType=VARCHAR}, #{taboo,jdbcType=VARCHAR}, 
      #{indication,jdbcType=VARCHAR}, #{dosage,jdbcType=VARCHAR}, #{properties,jdbcType=VARCHAR}, 
      #{packingSpecification,jdbcType=VARCHAR}, #{adverseReations,jdbcType=VARCHAR}, 
      #{storageCondition,jdbcType=VARCHAR}, #{vaildPeriod,jdbcType=VARCHAR}, #{percautions,jdbcType=VARCHAR}, 
      #{pregnantReminder,jdbcType=VARCHAR}, #{youngReminder,jdbcType=VARCHAR}, #{oldReminder,jdbcType=VARCHAR}, 
      #{interaction,jdbcType=VARCHAR}, #{approvalNumber,jdbcType=VARCHAR}, #{manufacturer,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dingdang.DingdangDrugstore.mbg.model.ProductDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into product_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        product_id,
      </if>
      <if test="productSn != null">
        product_sn,
      </if>
      <if test="commonName != null">
        common_name,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="ingredients != null">
        ingredients,
      </if>
      <if test="taboo != null">
        taboo,
      </if>
      <if test="indication != null">
        indication,
      </if>
      <if test="dosage != null">
        dosage,
      </if>
      <if test="properties != null">
        properties,
      </if>
      <if test="packingSpecification != null">
        packing_specification,
      </if>
      <if test="adverseReations != null">
        adverse_reations,
      </if>
      <if test="storageCondition != null">
        storage_condition,
      </if>
      <if test="vaildPeriod != null">
        vaild_period,
      </if>
      <if test="percautions != null">
        percautions,
      </if>
      <if test="pregnantReminder != null">
        pregnant_reminder,
      </if>
      <if test="youngReminder != null">
        young_reminder,
      </if>
      <if test="oldReminder != null">
        old_reminder,
      </if>
      <if test="interaction != null">
        interaction,
      </if>
      <if test="approvalNumber != null">
        approval_number,
      </if>
      <if test="manufacturer != null">
        manufacturer,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productId != null">
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="productSn != null">
        #{productSn,jdbcType=VARCHAR},
      </if>
      <if test="commonName != null">
        #{commonName,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="ingredients != null">
        #{ingredients,jdbcType=VARCHAR},
      </if>
      <if test="taboo != null">
        #{taboo,jdbcType=VARCHAR},
      </if>
      <if test="indication != null">
        #{indication,jdbcType=VARCHAR},
      </if>
      <if test="dosage != null">
        #{dosage,jdbcType=VARCHAR},
      </if>
      <if test="properties != null">
        #{properties,jdbcType=VARCHAR},
      </if>
      <if test="packingSpecification != null">
        #{packingSpecification,jdbcType=VARCHAR},
      </if>
      <if test="adverseReations != null">
        #{adverseReations,jdbcType=VARCHAR},
      </if>
      <if test="storageCondition != null">
        #{storageCondition,jdbcType=VARCHAR},
      </if>
      <if test="vaildPeriod != null">
        #{vaildPeriod,jdbcType=VARCHAR},
      </if>
      <if test="percautions != null">
        #{percautions,jdbcType=VARCHAR},
      </if>
      <if test="pregnantReminder != null">
        #{pregnantReminder,jdbcType=VARCHAR},
      </if>
      <if test="youngReminder != null">
        #{youngReminder,jdbcType=VARCHAR},
      </if>
      <if test="oldReminder != null">
        #{oldReminder,jdbcType=VARCHAR},
      </if>
      <if test="interaction != null">
        #{interaction,jdbcType=VARCHAR},
      </if>
      <if test="approvalNumber != null">
        #{approvalNumber,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null">
        #{manufacturer,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dingdang.DingdangDrugstore.mbg.model.ProductDetailExample" resultType="java.lang.Integer">
    select count(*) from product_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update product_detail
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.productId != null">
        product_id = #{record.productId,jdbcType=BIGINT},
      </if>
      <if test="record.productSn != null">
        product_sn = #{record.productSn,jdbcType=VARCHAR},
      </if>
      <if test="record.commonName != null">
        common_name = #{record.commonName,jdbcType=VARCHAR},
      </if>
      <if test="record.productName != null">
        product_name = #{record.productName,jdbcType=VARCHAR},
      </if>
      <if test="record.ingredients != null">
        ingredients = #{record.ingredients,jdbcType=VARCHAR},
      </if>
      <if test="record.taboo != null">
        taboo = #{record.taboo,jdbcType=VARCHAR},
      </if>
      <if test="record.indication != null">
        indication = #{record.indication,jdbcType=VARCHAR},
      </if>
      <if test="record.dosage != null">
        dosage = #{record.dosage,jdbcType=VARCHAR},
      </if>
      <if test="record.properties != null">
        properties = #{record.properties,jdbcType=VARCHAR},
      </if>
      <if test="record.packingSpecification != null">
        packing_specification = #{record.packingSpecification,jdbcType=VARCHAR},
      </if>
      <if test="record.adverseReations != null">
        adverse_reations = #{record.adverseReations,jdbcType=VARCHAR},
      </if>
      <if test="record.storageCondition != null">
        storage_condition = #{record.storageCondition,jdbcType=VARCHAR},
      </if>
      <if test="record.vaildPeriod != null">
        vaild_period = #{record.vaildPeriod,jdbcType=VARCHAR},
      </if>
      <if test="record.percautions != null">
        percautions = #{record.percautions,jdbcType=VARCHAR},
      </if>
      <if test="record.pregnantReminder != null">
        pregnant_reminder = #{record.pregnantReminder,jdbcType=VARCHAR},
      </if>
      <if test="record.youngReminder != null">
        young_reminder = #{record.youngReminder,jdbcType=VARCHAR},
      </if>
      <if test="record.oldReminder != null">
        old_reminder = #{record.oldReminder,jdbcType=VARCHAR},
      </if>
      <if test="record.interaction != null">
        interaction = #{record.interaction,jdbcType=VARCHAR},
      </if>
      <if test="record.approvalNumber != null">
        approval_number = #{record.approvalNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.manufacturer != null">
        manufacturer = #{record.manufacturer,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update product_detail
    set id = #{record.id,jdbcType=BIGINT},
      product_id = #{record.productId,jdbcType=BIGINT},
      product_sn = #{record.productSn,jdbcType=VARCHAR},
      common_name = #{record.commonName,jdbcType=VARCHAR},
      product_name = #{record.productName,jdbcType=VARCHAR},
      ingredients = #{record.ingredients,jdbcType=VARCHAR},
      taboo = #{record.taboo,jdbcType=VARCHAR},
      indication = #{record.indication,jdbcType=VARCHAR},
      dosage = #{record.dosage,jdbcType=VARCHAR},
      properties = #{record.properties,jdbcType=VARCHAR},
      packing_specification = #{record.packingSpecification,jdbcType=VARCHAR},
      adverse_reations = #{record.adverseReations,jdbcType=VARCHAR},
      storage_condition = #{record.storageCondition,jdbcType=VARCHAR},
      vaild_period = #{record.vaildPeriod,jdbcType=VARCHAR},
      percautions = #{record.percautions,jdbcType=VARCHAR},
      pregnant_reminder = #{record.pregnantReminder,jdbcType=VARCHAR},
      young_reminder = #{record.youngReminder,jdbcType=VARCHAR},
      old_reminder = #{record.oldReminder,jdbcType=VARCHAR},
      interaction = #{record.interaction,jdbcType=VARCHAR},
      approval_number = #{record.approvalNumber,jdbcType=VARCHAR},
      manufacturer = #{record.manufacturer,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dingdang.DingdangDrugstore.mbg.model.ProductDetail">
    update product_detail
    <set>
      <if test="productId != null">
        product_id = #{productId,jdbcType=BIGINT},
      </if>
      <if test="productSn != null">
        product_sn = #{productSn,jdbcType=VARCHAR},
      </if>
      <if test="commonName != null">
        common_name = #{commonName,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="ingredients != null">
        ingredients = #{ingredients,jdbcType=VARCHAR},
      </if>
      <if test="taboo != null">
        taboo = #{taboo,jdbcType=VARCHAR},
      </if>
      <if test="indication != null">
        indication = #{indication,jdbcType=VARCHAR},
      </if>
      <if test="dosage != null">
        dosage = #{dosage,jdbcType=VARCHAR},
      </if>
      <if test="properties != null">
        properties = #{properties,jdbcType=VARCHAR},
      </if>
      <if test="packingSpecification != null">
        packing_specification = #{packingSpecification,jdbcType=VARCHAR},
      </if>
      <if test="adverseReations != null">
        adverse_reations = #{adverseReations,jdbcType=VARCHAR},
      </if>
      <if test="storageCondition != null">
        storage_condition = #{storageCondition,jdbcType=VARCHAR},
      </if>
      <if test="vaildPeriod != null">
        vaild_period = #{vaildPeriod,jdbcType=VARCHAR},
      </if>
      <if test="percautions != null">
        percautions = #{percautions,jdbcType=VARCHAR},
      </if>
      <if test="pregnantReminder != null">
        pregnant_reminder = #{pregnantReminder,jdbcType=VARCHAR},
      </if>
      <if test="youngReminder != null">
        young_reminder = #{youngReminder,jdbcType=VARCHAR},
      </if>
      <if test="oldReminder != null">
        old_reminder = #{oldReminder,jdbcType=VARCHAR},
      </if>
      <if test="interaction != null">
        interaction = #{interaction,jdbcType=VARCHAR},
      </if>
      <if test="approvalNumber != null">
        approval_number = #{approvalNumber,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null">
        manufacturer = #{manufacturer,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dingdang.DingdangDrugstore.mbg.model.ProductDetail">
    update product_detail
    set product_id = #{productId,jdbcType=BIGINT},
      product_sn = #{productSn,jdbcType=VARCHAR},
      common_name = #{commonName,jdbcType=VARCHAR},
      product_name = #{productName,jdbcType=VARCHAR},
      ingredients = #{ingredients,jdbcType=VARCHAR},
      taboo = #{taboo,jdbcType=VARCHAR},
      indication = #{indication,jdbcType=VARCHAR},
      dosage = #{dosage,jdbcType=VARCHAR},
      properties = #{properties,jdbcType=VARCHAR},
      packing_specification = #{packingSpecification,jdbcType=VARCHAR},
      adverse_reations = #{adverseReations,jdbcType=VARCHAR},
      storage_condition = #{storageCondition,jdbcType=VARCHAR},
      vaild_period = #{vaildPeriod,jdbcType=VARCHAR},
      percautions = #{percautions,jdbcType=VARCHAR},
      pregnant_reminder = #{pregnantReminder,jdbcType=VARCHAR},
      young_reminder = #{youngReminder,jdbcType=VARCHAR},
      old_reminder = #{oldReminder,jdbcType=VARCHAR},
      interaction = #{interaction,jdbcType=VARCHAR},
      approval_number = #{approvalNumber,jdbcType=VARCHAR},
      manufacturer = #{manufacturer,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByProductIdSelective" parameterType="com.dingdang.DingdangDrugstore.mbg.model.ProductDetail">
    update product_detail
    <set>
      <if test="productSn != null">
        product_sn = #{productSn,jdbcType=VARCHAR},
      </if>
      <if test="commonName != null">
        common_name = #{commonName,jdbcType=VARCHAR},
      </if>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="ingredients != null">
        ingredients = #{ingredients,jdbcType=VARCHAR},
      </if>
      <if test="taboo != null">
        taboo = #{taboo,jdbcType=VARCHAR},
      </if>
      <if test="indication != null">
        indication = #{indication,jdbcType=VARCHAR},
      </if>
      <if test="dosage != null">
        dosage = #{dosage,jdbcType=VARCHAR},
      </if>
      <if test="properties != null">
        properties = #{properties,jdbcType=VARCHAR},
      </if>
      <if test="packingSpecification != null">
        packing_specification = #{packingSpecification,jdbcType=VARCHAR},
      </if>
      <if test="adverseReations != null">
        adverse_reations = #{adverseReations,jdbcType=VARCHAR},
      </if>
      <if test="storageCondition != null">
        storage_condition = #{storageCondition,jdbcType=VARCHAR},
      </if>
      <if test="vaildPeriod != null">
        vaild_period = #{vaildPeriod,jdbcType=VARCHAR},
      </if>
      <if test="percautions != null">
        percautions = #{percautions,jdbcType=VARCHAR},
      </if>
      <if test="pregnantReminder != null">
        pregnant_reminder = #{pregnantReminder,jdbcType=VARCHAR},
      </if>
      <if test="youngReminder != null">
        young_reminder = #{youngReminder,jdbcType=VARCHAR},
      </if>
      <if test="oldReminder != null">
        old_reminder = #{oldReminder,jdbcType=VARCHAR},
      </if>
      <if test="interaction != null">
        interaction = #{interaction,jdbcType=VARCHAR},
      </if>
      <if test="approvalNumber != null">
        approval_number = #{approvalNumber,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null">
        manufacturer = #{manufacturer,jdbcType=VARCHAR},
      </if>
    </set>
    where product_id = #{productId,jdbcType=BIGINT}
  </update>
</mapper>